@page "/courses"
@layout MainLayout
@inject AppDbContext Db

<h1 class="page-title">Course Management</h1>
<div class="panel">
    <div class="form-section">
        <input class="input"
               placeholder="Course Name"
               @bind="newCourse.Name" />
        <button class="btn-primary" @onclick="AddCourse">
            + Add Course
        </button>
    </div>
</div>

<div class="list-section">
    @foreach (var course in courses)
    {
        <div class="card-item">
            <div class="card-main">
                <strong>@course.Name</strong>
            </div>
            <div class="card-actions">
                <button class="delete-btn"
                        @onclick="() => DeleteCourse(course.Id)">
                    Delete
                </button>
            </div>
        </div>
    }
</div>

@code {

    private List<Course> courses = new();

    private Course newCourse = new();

    protected override async Task OnInitializedAsync()
    {
        courses = await Db.Courses.ToListAsync();
    }

    private async Task AddCourse()
    {
        if (!string.IsNullOrWhiteSpace(newCourse.Name))
        {
            Db.Courses.Add(new Course
            {
                Name = newCourse.Name
            });

            await Db.SaveChangesAsync();

            courses = await Db.Courses.ToListAsync();

            newCourse = new Course();
        }
    }

    private async Task DeleteCourse(int id)
    {
        var course = await Db.Courses.FindAsync(id);

        if (course != null)
        {
            Db.Courses.Remove(course);

            await Db.SaveChangesAsync();

            courses = await Db.Courses.ToListAsync();
        }
    }
}